# Path validation

- S1->R1->T1: PASS
- S1->R1->T2: PASS
- S1->R2->T1: PASS
- S1->R2->T2: PASS
- S2->R1->T1: PASS
- S2->R1->T2: PASS
- S2->R2->T1: PASS
- S2->R2->T2: PASS
